<ons-page class="mypage" >
    <from>
        <table class="jcxx">
            <!--border='1'cellspacing="0" cellpadding="0"-->
            <tbody>
                <tr>
                    <td>姓名:</td>
                    <td><input type="text" data-bind="value:record().C3_464172127930"></td>
                </tr>
                <tr>
                    <td>英文名:</td>
                    <td><input type="text" data-bind="value:record().C3_464172148589"></td>
                </tr>
                <tr>
                    <td>性别:</td>
                    <td>
                        <select data-bind="value:record().C3_464172157606">
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>血型:</td>
                    <td>
                        <select data-bind="value:record().C3_464172239173">
                            <option value="A">A型</option>
                            <option value="B">B型</option>
                            <option value="O">O型</option>
                            <option value="AB">AB型</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>国籍:</td>
                    <td><input type="text" data-bind="value:record().C3_464172188709"></td>
                </tr>
                <tr>
                    <td>籍贯:</td>
                    <td><input type="text" data-bind="value:record().C3_464172212871"></td>
                </tr>
                <tr>
                    <td>民族:</td>
                    <td><input type="text" data-bind="value:record().C3_464172226868"></td>
                </tr>
                <tr>
                    <td>证件类型:</td>
                    <td>
                        <select data-bind="value:record().C3_464172266942">
                            <option value="身份证">身份证</option>
                            <option value="军人证">军人证</option>
                            <option value="护照">护照</option>
                            <option value="签证">签证</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>证件号码:</td>
                    <td><input type="text" data-bind="value:record().C3_464172300168"></td>
                </tr>
                <tr>
                    <td>出生日期:</td>
                    <td><input type="text" data-bind="value:record().C3_464172321287" placeholder="格式为:1980-01-01"></td>
                </tr>
                <tr>
                    <td>文件地址:</td>
                    <td><input type="text" data-bind="value:record().C3_464172350271"></td>
                </tr>
                <tr>
                    <td>现居住地址:</td>
                    <td><input type="text" data-bind="value:record().C3_464172402553"></td>
                </tr>
                <tr>
                    <td>邮编:</td>
                    <td><input type="text" data-bind="value:record().C3_464172444813"></td>
                </tr>
                <tr>
                    <td>移动电话:</td>
                    <td><input type="text" data-bind="value:record().C3_464172500234"></td>
                </tr>
                <tr>
                    <td>住宅电话:</td>
                    <td><input type="text" data-bind="value:record().C3_464172486192"></td>
                </tr>
                <tr>
                    <td>公司邮箱:</td>
                    <td><input type="text" data-bind="value:record().C3_464172522558"></td>
                </tr>
                <tr>
                    <td>学历:</td>
                    <td>
                        <select data-bind="value:record().C3_464172654284">
                            <option value="高中">高中</option>
                            <option value="大专">大专</option>
                            <option value="本科">本科</option>
                            <option value="硕士">硕士</option>
                            <option value="博士">博士</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>政治面貌:</td>
                    <td>
                        <select data-bind="value:record().C3_464172707004">
                            <option value="团员">团员</option>
                            <option value="党员">党员</option>
                            <option value="无">无</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>户籍类别:</td>
                    <td>
                        <select data-bind="value:record().C3_464172722124">
                            <option value="城镇户口">城镇户口</option>
                            <option value="农村户口">农村户口</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>婚姻状况:</td>
                    <td>
                        <select data-bind="value:record().C3_464172819253">
                            <option value="已婚">已婚</option>
                            <option value="未婚">未婚</option>
                            <option value="离异">离异</option>
                            <option value="丧偶">丧偶</option>
                        </select>
                    </td>    
                </tr>
                <tr>
                    <td>生育状况:</td>
                    <td>
                        <select data-bind="value:record().C3_464172852423">
                            <option value="未育">未育</option>
                            <option value="已育">已育</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>个人邮箱:</td>
                    <td><input type="text" data-bind="value:record().C3_464175812688"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <input type="button" value="提交" class="submit" data-bind="click:submitClick">
                    </td>
                </tr>
            </tfoot>
        </table>
    </from>
</ons-page>