<div class="jtxxbar">
    <div class="left">
            家庭信息及紧急联系人:
            <button id="btn4">添加成员</button>
            </br>
            <span>(父母、配偶、兄弟姐妹及子女)</span>
    </div>
</div>
<ons-page class="mypage">
    <table class="jtxx">
        <tbody>
            <tr>
                <td>
                    <table>
                        <tbody id="jtxxtbody">
                            <tr id="jtbtr0" class="topb">
                                <td><input type="text" placeholder="姓名"></td>
                                <td><input type="text" placeholder="与本人关系"></td>
                            </tr>
                            <tr>
                                <td><input type="text" placeholder="联系方式"></td>
                                <td><input type="text" placeholder="工作单位"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="topb">
                                <td><input type="text" placeholder="紧急联系人姓名"></td>
                                <td><input type="text" placeholder="与本人关系"></td>
                            </tr>
                            <tr>
                                <td><input type="text" placeholder="手机"></td>
                                <td><input type="text" placeholder="现住地址"></td>
                            </tr>
                            <tr>
                                <td><input type="text" placeholder="固定电话"></td>
                                <td><input type="text" placeholder="邮箱"></td>
                            </tr>
                            <tr>
                                <td colspan="2" id="cbox">
                                    <label>
                                        <input type="checkbox" class="cbox">是否有亲属朋友在本公司任职
                                    </label>
                                </td>
                            </tr>
                            <tr id="qy">
                                <td colspan="2">
                                    <table>
                                        <tr>
                                            <td>
                                                <input type="text" placeholder="姓名">
                                            </td>
                                            <td>
                                                <input type="text" placeholder="与本人关系">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" placeholder="联系方式">
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="topb">
                <td>
                    <input type="submit" value="提交" class="submit">
                </td>
            </tr>
        </tfoot>
    </table>
</ons-page>