
#myreadContent{
     /*padding-bottom: 60px;*/
     /*position: absolute;
     bottom: 100px;
     top: 0px;
     */
      /*margin-bottom: 60px;
      padding-bottom: 60px;
      background-color: blue;*/
}


label.myread-switch{
    position: absolute;
    margin-bottom: 60px;
  padding-bottom: 100px;
    right: 10px;
    width: 100px;
    height: 24px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}

label.myread-switch span:nth-child(1){
    /*width: 45px;*/
    height: inherit;
    background-size: 45px 24px;
    flex-basis: 45px;
}

label.myread-switch span:nth-child(2){

    flex-basis: 55px;

    height: inherit;
    font-weight: initial;
    line-height: 24px;
}

.mysearchErrorOn{
    background-image: url(../img/yichang-2.png);
}

.mysearchErrorOff{
    background-image: url(../img/yichang-1.png);
}
