
<ons-page class="mypage">
<div class="bc" >

<div class="bc">

    <select id="bs" data-bind="foreach:oList,event:{ change: oChange}" >
        <option data-bind="text:C3_540472920385"></option>
    </select>
    <table>
        <thead>
            <tr>
                <th>
                    <table>
                        <thead>
                            <tr>
                                <th width="46%">地点</th>
                                <th width="27%">早班车</th>
                                <th width="27%">晚班车</th>
                            </tr>
                        </thead>
                    </table>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr id="tr0">
                <td>
                    <table data-bind="foreach:timeList">
                        <tr>
                            <td width="52%" data-bind="text:C3_540473920686">鸿泰苑5期大门</td>
                            <td width="24%" data-bind="text:C3_540473962470">6:45</td>
                            <td width="24%" data-bind="text:C3_540474054151">18:45</td>
                        </tr>
                       
                    </table>
                </td>
            </tr>
           
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td width="52%">公司</td>
                            <td width="24%">7:20</td>
                            <td width="24%">19:20</td>
                        </tr>
                        <tr>
                            <td colspan="3">7:50/19:50返回,返回路线不变</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
</ons-page>