<div class="jyxxbar">
    <div class="left">
            学历/学位/证书:
            <button id="btn1" data-bind='click:function(){changeview("btn1")}'>添加证书</button>
            <button id="btn2" data-bind='click:function(){changeview("btn2")}' >添加学校</button>
            </br>
            <span>(请填写高中以上的交易经历,由最高学历开始填写)</span>
    </div>
</div>

    <table class="jyxx">
        <tbody>
            <tr>
                <td>
                    <table>
                        <tbody id="jyxxtbody">
                            <tr id="jybtr0" class="topb">
                                <td colspan="2">
                                    <input type="text" placeholder="学校名称" data-bind="value:record().C3_464173711606">
                                </td>
                            </tr>
                            <tr>
                                <td width="50%"><input type="text" data-bind="value:record().C3_464173481804" placeholder="开始日期:1980-01-01"></td>
                                <td width="50%"><input type="text" data-bind="value:record().C3_464173514735" placeholder="结束日期:1980-01-01"></td>
                            </tr>
                            <tr>
                                <td><input type="text" data-bind="value:record().C3_464173836290" placeholder="专业"></td>
                                <td>
                                    <select data-bind="value:record().C3_464173912562">
                                        <option value="高中">高中</option>
                                        <option value="大专">大专</option>
                                        <option value="本科">本科</option>
                                        <option value="硕士">硕士</option>
                                        <option value="博士">博士</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot id="jyxxtfoot">
                            <tr id="jyftr0" class="topb">
                                <td><input type="text" data-bind="value:record().C3_464174073888" placeholder="职业资格证书"></td>
                                <td><input type="text" data-bind="value:record().C3_464174245669" placeholder="等级"></td>
                            </tr>
                            <tr>
                                <td><input type="text" data-bind="value:record().C3_464174345857" placeholder="颁发机构"></td>
                                <td><input type="text" data-bind="value:record().C3_464174451732" placeholder="获得日期"></td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="topb">
                <td>
                    <input type="button" value="提交" class="submit" data-bind="click:submitClickWork2">
                </td>
            </tr>
        </tfoot>
    </table>
