<div>getconfig</div>
<button data-bind="click:getconfig">getconfig</button>
<div>initWeiCat</div>
<button data-bind="click:initWeiCat">initWeiCat</button>
 
<div>chooseimag1</div>
<button data-bind="click:chooseimage2">chooseimage</button>
<input id="input1" value="text">
<img id='image1' src="">
<div>reload1</div>
<button data-bind="click:reload">reload</button>
<div>clearlocal</div>
<button data-bind="click:clearlocal">clearlocal</button>
<div>rebind</div>
<button data-bind="click:rebind">rebind</button>



